html {
  height: 100%;
  font-family: sans-serif;
  font-size: 1.25em;
}

body {
  height: 100%;
  margin: 0 1em;
  background-color: black;
  color: white;
}

.menu {
  position: absolute;
  right: 1em;
  margin-top: 1em;
}

.menu a {
  color: #444;
  text-decoration: none;
}

.menu a:hover {
  color: white;
} 

.menu > span {
  margin-left: 1em;
  margin-right: 1em;
}

.content {
  display: table;
  height: 95%;
  margin: 0 auto;
}

.content-center {
  padding-top: 5em;
  padding-bottom: 5em;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.input {
  color: white;
  background-color: black;
  font-family: sans-serif;
}

#start {
  height: 84px;
  padding-left: 50px;
  padding-right: 50px;
  font-size: 1em;
  cursor: pointer;
}

#fuel-input {
  height: 90px;
  width: 160px;
  font-size: 1em;
  padding-right: 20px;
  text-align: right;
}

.templates {
  display: none;
}

.text.short {
  line-height: 1.8em;
}

.text.title {
  font-size: 1.5em;
  margin-bottom: 40px;
}

.text.long {
  line-height: 1.8em;
  text-align: left;
  max-width: 32.5em;
}

.control {
  font-size: 2em;
}

.text a,.text a:visited {
  color: white;
}
